*.class

# Ignore IDE files #
*.iml
.idea
.idea/*
*.classpath
*.project
*.settings


# Ignore #
/bin
/Configs/hibernate.cfg.xml
/Logs/*
/target

# Package Files #
*.jar
*.war
*.ear

# Unignore Libs #
